/*
 * === Filters class style ===
 */

/* Filters style */
.filters {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	height: 70px;
	width: 100%;
}

/* Search button style */
.filters button {
	background: #ff5a5f;
	border: none;
	border-radius: 4px;
	color: #fff;
	float: right;
	font-size: 18px;
	height: 48px;
	margin: 12px 30px;
	width: 20%;
}

/* Search button hover opacity */
.filters button:hover {
	opacity: 90%;
}

/* Locations and amenities style */
.filters .locations,
.filters .amenities {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 25%;
}

/* Locations border */
.filters .locations {
	border-right: 1px solid #ddd;
}

/* Locations and amenities hover opacity */
.filters .locations:hover,
.filters .amenities:hover {
	background-color: #fafafa;
}

/* Locations and amenities popover menu */
.filters .popover {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: none;
	position: absolute;
	width: 100%;
}

/* Locations and amenities popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}

/* Locations list style */
.filters .locations ul {
	padding: 6px 0 6px 0;
}

/* Locations list element margin */
.filters .locations li {
	margin: 0 auto 6px 3em;
}

/* Amenities list element margin */
.filters .amenities li {
	margin: 12px auto 12px 30px;
}

/*
   * --- Filters header style ---
   */

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Header 2 style */
.filters h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 12px auto 0 30px;
}

/* Header 3 style */
.filters h3 {
	font-size: 1.17em;
	font-weight: 600;
	height: 50%;
	padding: 15.5px 0 0 30px;
}

/* Header 4 style */
.filters h4 {
	font-size: 14px;
	font-weight: 400;
	height: 50%;
	padding: 4.5px 0 12px 30px;
}

/*style for the places title*/
.places h1 {
	text-align: left;
	font-size: 30px;
	align-self: flex-start;
	width: 100%;
}

.places {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}
